<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>user.server.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>user.server.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>user.server.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>user.server.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoServlet</servlet-name>
        <servlet-class>user.server.ViewInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>user.server.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>user.server.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPromotionServlet</servlet-name>
        <servlet-class>user.server.ViewPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPromotionInfoServlet</servlet-name>
        <servlet-class>user.server.ViewPromotionInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionInfoServlet</servlet-name>
        <servlet-class>user.server.UpdatePromotionInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserPromotionServlet</servlet-name>
        <servlet-class>user.server.ViewUserPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserPromotionServlet</servlet-name>
        <servlet-class>user.server.AddUserPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePromotionServlet</servlet-name>
        <servlet-class>user.server.SavePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>user.server.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryPromotionServlet</servlet-name>
        <servlet-class>user.server.ViewHistoryPromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoServlet</servlet-name>
        <url-pattern>/ViewInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPromotionServlet</servlet-name>
        <url-pattern>/ViewPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPromotionInfoServlet</servlet-name>
        <url-pattern>/ViewPromotionInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionInfoServlet</servlet-name>
        <url-pattern>/UpdatePromotionInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserPromotionServlet</servlet-name>
        <url-pattern>/ViewUserPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserPromotionServlet</servlet-name>
        <url-pattern>/AddUserPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePromotionServlet</servlet-name>
        <url-pattern>/SavePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/DeletePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryPromotionServlet</servlet-name>
        <url-pattern>/ViewHistoryPromotionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>HP-Pien</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter-name/>
</web-app>
